*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    letter-spacing: 1px; 
    
}
/* styling nav */
nav{
    height: 5rem;
    width: 100%;
    background-color:#82A0D8;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;

}
.nav-brand
{
    top: 10px;
    max-width: 50px;
    margin-top: 30px;
    font-weight:bold;
    font-size: 25px;
    color:#fff;
    width:100px;
}
.logo
{
    padding: 0.3vh 0.3vw;
    text-align: center;
}
.logo img
{
    height: 5rem;
    width:  5rem;
}
/* nav items */
.nav-link
{
    margin-left: 200px;
    display: flex;
    list-style: none;
    width: 80vw;
    padding:0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
}
.nav-link li 
{
    position: relative;
    margin-top:20px;
}
.nav-link li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color:#fff
}
.nav-link li a:hover
{
    color: pink;
}
.nav-link li a::before
{
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background-color:pink;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 0.1;
}
.nav-link li a:hover::before
{
    width: 80%;
}
.login-btn{
    background-color: #fff;
    border: 2px solid black;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size:1rem;
    cursor: pointer;
}
.login-btn:hover{
    color: #131418;
    background-color: yellow;
    border-radius: 2px solid yellow;
    transition: all ease-in-out 350ms;
}
.hamburger{
    display: none;
}
/* Body */
.mainbody
{
    background: linear-gradient(90deg, rgba(168,237,234,1) 0%, rgba(254,214,227,1) 100%);
    overflow-x: hidden;
    overflow-y: auto;
}
/* Search */
.search-box
{
  height: 100vh;
}
.wrapper {
  width: 100%;
  max-width: 33.25rem;
  margin: 4rem auto;
}
.label {
  font-size: .625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
  margin-top: 10rem;
  font-family:"Inter",serif ;
}
.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}
#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}
#searchQuerySubmit:hover {
  cursor: pointer;
}
.nav-move{
	position: relative;
	margin: 65px auto 0;
	width: 570px;
	height: 50px;
	background:#F5DEDB;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
.nav-move a{
	font-size: 15px;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
.nav-move .animation{
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	background: #1abc9c;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
.nav-move a:nth-child(1){
	width: 100px;
}
.nav-move .start-home, a:nth-child(1):hover~.animation{
	width: 100px;
	left: 0;
}
.nav-move a:nth-child(2){
	width: 110px;
}
.nav-move a:nth-child(2):hover~.animation{
	width: 110px;
	left: 100px;
}
.nav-move a:nth-child(3){
	width: 120px;
    padding-left:10px;
}
.nav-move a:nth-child(3):hover~.animation{
	width: 120px;
	left: 215px;
}
.nav-move a:nth-child(4){
	width: 120px;
}
.nav-move a:nth-child(4):hover~.animation{
	width: 100px;
	left: 340px;
}
.nav-move a:nth-child(5){
	width: 100px;
}
.nav-move a:nth-child(5):hover~.animation{
  
	width: 130px;
	left: 440px;
}
.panel {
    border-right: 2px solid grey;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    padding: 5px;
    width: 86%;
    height: 50px;
    /* background */
    color: black;
    margin-top: 20px;
    margin-left: 7%;
    h3 {
      padding-top: 5.5px;
      padding-left: 10px;
      font-family: sans-serif;
      font-weight: 100;
      display: inline-block;
    }
    i {
      margin-top: -37.5px;
      float: right;
      font-size: 25px;
      padding-right: 17.5px;
    }
  }
.stuff {
    height: 220px;
    background-color: #ffffff;
    margin-top: 20px;
    box-shadow: 5px 5px rgba(45, 45, 45, 0.13);
}
  
.upper {
    width: 100%;
    height: 160px;
    border-bottom: 1px solid rgba(45, 45, 45, 0.33);
    img {
      position: absolute;
      left: 0;
      right: 0;
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto;
    }
}
.downer {
    margin-top: 15px;
    p {
        display: inline-block;
    }
    button {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 12.5px;
      margin-top: -3px;
      float: right;
      border-radius: 0;
      background-color: #3a3a3a;
    }
}
  
@media screen and (max-width:1000px){
    .hamburger{
        display: block;
        position: absolute;
        color: white;
        top: 10px;
        right: 30px;
        font-size: 2rem;
        cursor: pointer;
    }
    .nav-link.show 
    {
        position: absolute;
        top: 5rem;
        transform: translateX(-200px);
        width: 100vw;
        height: calc(100vh - 5rem); 
        flex-direction: column;
        background-color: #252525;
        transition: 0.5s all ease;
        align-items: center;
        padding: 0;
        overflow-y: auto; 
        justify-content: flex-start;
       
    }
    .nav-link li a {
        margin-bottom: 10px;
    }
    .login-btn{
        background-color: #fff;
        border: 2px solid black;
        border-radius: 2em;
        padding: 0.6rem 0.8rem;
        margin-left: 0vw;
        font-size:1rem;
        cursor: pointer;
    }
}